.sostt-block, .sostt-cover {
	display: block;
}

.sostt-caption,
blockquote > p { // LS custom
	font-size: 1em;
	line-height: 1.3;
	margin: 0.25em 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	max-width: 100%;
	text-indent: 0;
	p {
		font-size: 1em;
		line-height: 1.3;
		margin: 0.25em 0;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		max-width: 100%;
		text-indent: 0;
	}
	&:empty {
		display: none;
	}
}

// LS custom
// .page-compose {
// 	.sostt-caption {
// 		&:empty {
// 			display: block;
// 			&:before {
// 				display: inline-block;
// 				/* otherwise, the bottoms of descenders get cut off */
// 				content: "Write a caption\2026";
// 				opacity: 0.5;
// 				cursor: text;
// 			}
// 		}
// 		&[placeholder]:empty:before {
// 			display: inline-block;
// 			/* otherwise, the bottoms of descenders get cut off */
// 			content: attr(placeholder);
// 			opacity: 0.5;
// 			cursor: text;
// 		}
// 		&:empty:focus:before {
// 			content: "";
// 		}
// 	}
// 	sostt-story-data-byline {
// 		cursor: pointer;
// 	}
// }

sostt-story-data:empty {
	display: none;
}

// LS custom
// .page-compose sostt-story-data:empty {
// 	display: initial;
// 	&:before {
// 		display: inline-block;
// 		content: attr(placeholder);
// 		opacity: 0.85;
// 		cursor: text;
// 	}
// 	&:focus:before {
// 		content: "";
// 	}
// }

.sostt-autosizer {
	display: block;
	max-width: 100%;
}

.sostt-image {
	display: block;
	-webkit-transition: background-position 0.1s, opacity 500ms 100ms;
	-moz-transition: background-position 0.1s, opacity 500ms 100ms;
	-ms-transition: background-position 0.1s, opacity 500ms 100ms;
	-o-transition: background-position 0.1s, opacity 500ms 100ms;
	transition: background-position 0.1s, opacity 500ms 100ms;
	position: relative;
	/* doing this here so the uploader progress sits right, but possible that this shouldn't be defined by the subcomponent?? */
	img {
		width: 100%;
	}
}

.real-image-size {
	width: auto;
	img {
		display: block;
		margin: 0 auto;
		width: auto;
		max-width: 100%;
	}
}

.sostt-image .image-block-placeholder {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.375);
	background-size: 20px 20px;
	background-position: 0 0, 30px 30px;
	svg {
		opacity: 0.4;
		display: block;
	}
}

.non-scaling-stroke-not-supported .sostt-image .image-block-placeholder svg {
	display: none;
}

.sostt-image[show_placeholder_helper="true"] .image-block-placeholder:before {
	content: "Drag an image here";
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	font-size: 0.9em;
	-webkit-transform: translate3D(-50%, -50%, 0);
	-moz-transform: translate3D(-50%, -50%, 0);
	-ms-transform: translate3D(-50%, -50%, 0);
	-o-transform: translate3D(-50%, -50%, 0);
	transform: translate3D(-50%, -50%, 0);
	background-color: rgb(80, 80, 80);
	border-radius: 2px;
	padding: 0.5em 0.5em 0.3em;
	opacity: 0.9;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.05em;
}

.sostt-video {
	.video-block-placeholder {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.375);
		background-size: 20px 20px;
		background-position: 0 0, 30px 30px;
		z-index: 1;
		pointer-events: none;
		svg {
			opacity: 0.4;
		}
	}
	&[show_placeholder_helper="true"] .video-block-placeholder:before {
		content: "Drag a video here";
		position: absolute;
		top: 50%;
		left: 50%;
		color: white;
		font-size: 0.9em;
		-webkit-transform: translate3D(-50%, -50%, 0);
		-moz-transform: translate3D(-50%, -50%, 0);
		-ms-transform: translate3D(-50%, -50%, 0);
		-o-transform: translate3D(-50%, -50%, 0);
		transform: translate3D(-50%, -50%, 0);
		background-color: rgb(80, 80, 80);
		border-radius: 2px;
		padding: 0.5em 0.5em 0.3em;
		opacity: 0.9;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 0.05em;
	}
}

.sostt-video-embed {
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}

.sostt-video {
	display: block;
	position: relative;
	/* currently, for the progress bars. not sure if this is the "right" way to facilitate that, though */
	.uploader-progress, .video-progress-label {
		position: absolute;
		z-index: 10000;
	}
}

.sostt-multi-video {
	display: block;
}

/* Audio */

.sostt-audio {
	display: block;
	audio {
		height: 0;
	}
	.player-chrome {
		position: relative;
		padding-top: 1rem;
		margin-bottom: 0.65rem;
		max-width: 100% !important;
	}
	&.simple-player .player-chrome {
		position: relative;
		padding-top: 0;
		margin-bottom: 0;
	}
	.player-chrome:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-top: 1px solid currentColor;
		border-bottom: 1px solid currentColor;
		opacity: 0.125;
		box-sizing: border-box;
	}
	&.simple-player .player-chrome:before {
		display: none;
	}
	&.played-once .player-chrome {
		border-bottom: 1px solid currentColor;
	}
	.play-pause-control {
		margin-top: -webkit-calc(2rem - 10px);
		margin-top: calc(2rem - 10px);
		margin-bottom: -webkit-calc(2rem - 10px);
		margin-bottom: calc(2rem - 10px);
		text-align: center;
		position: relative;
		/* Flexbox generated via autoprefixer */
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	&.simple-player .play-pause-control {
		margin: 0;
	}
	.player-chrome {
		circle, polygon {
			stroke: currentColor;
			fill: none;
		}
		rect {
			fill: currentColor;
		}
	}
	.play-pause-button {
		width: 4rem;
		display: inline-block;
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	.play-button, .pause-button {
		width: 100%;
	}
	.play-button {
		display: block;
	}
	&.playing {
		.pause-button {
			display: block;
		}
		.play-button {
			display: none;
		}
	}
	.pause-button {
		display: none;
	}
	.duration-indicator {
		padding: 0 1rem;
		font-size: 0.85em;
		color: currentColor;
		opacity: 0.5;
		min-width: 3.25em;
	}
	.scrubber-bar {
		position: relative;
		width: 100%;
		height: 10px;
	}
	&.simple-player .scrubber-bar {
		display: none;
	}
	.scrubber-bar > .scrubber-progress {
		position: absolute;
		width: 0%;
		height: 100%;
		background-color: currentColor;
	}
	.play-pause-control svg, .scrubber-bar {
		cursor: pointer;
	}
	&.uploader-over {
		opacity: 0.5;
	}
	.audio-block-placeholder:before {}
}

@media (max-width: 450px) {
	.sostt-audio .play-pause-control {
		margin-bottom: -webkit-calc(2rem - 22px);
		margin-bottom: calc(2rem - 22px);
	}
}

@media (max-width: 450px) {
	.sostt-audio .duration-indicator {
		width: 3rem;
		top: -2.3em;
	}
}

.sostt-multi-background {
	display: block;
	position: relative;
	overflow: hidden;
}

.sostt-background-image-with-shim {
	display: block;
	position: relative;
	.sostt-image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		background-size: cover;
	}
	.sostt-background-image-with-shim-shim {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		-webkit-transform: translate3D(0, 0, 0);
		-moz-transform: translate3D(0, 0, 0);
		-ms-transform: translate3D(0, 0, 0);
		-o-transform: translate3D(0, 0, 0);
		transform: translate3D(0, 0, 0);
	}
}

.sostt-background-video-with-shim {
	.sostt-background-video-with-shim-shim {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		-webkit-transform: translate3D(0, 0, 0);
		-moz-transform: translate3D(0, 0, 0);
		-ms-transform: translate3D(0, 0, 0);
		-o-transform: translate3D(0, 0, 0);
		transform: translate3D(0, 0, 0);
	}
	.sostt-video {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate3D(-50%, -50%, 0);
		-moz-transform: translate3D(-50%, -50%, 0);
		-ms-transform: translate3D(-50%, -50%, 0);
		-o-transform: translate3D(-50%, -50%, 0);
		transform: translate3D(-50%, -50%, 0);
		z-index: 0;
		&.autoplay-unavailable {
			> * {
				display: none;
			}
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
}

.sostt-background-solid-color {
	display: block;
	position: relative;
}

.sostt-multi-background > * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.sostt-text {
	display: block;
}

.sostt-dfp {
	display: block;
	iframe {
		display: block;
		margin: 0 auto;
	}
}

/* Atavist Logo	*/

.sostt-promo-frame {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 300px;
	overflow: hidden;
	z-index: 10;
	-webkit-transform: translate3D(100%, 0, 0);
	-moz-transform: translate3D(100%, 0, 0);
	-ms-transform: translate3D(100%, 0, 0);
	-o-transform: translate3D(100%, 0, 0);
	transform: translate3D(100%, 0, 0);
	-webkit-transition-delay: 1000ms;
	-moz-transition-delay: 1000ms;
	-ms-transition-delay: 1000ms;
	-o-transition-delay: 1000ms;
	transition-delay: 1000ms;
}

.promo-open .sostt-promo-frame {
	-webkit-transform: translate3D(0, 0, 0);
	-moz-transform: translate3D(0, 0, 0);
	-ms-transform: translate3D(0, 0, 0);
	-o-transform: translate3D(0, 0, 0);
	transform: translate3D(0, 0, 0);
	-webkit-transition-delay: 0ms;
	-moz-transition-delay: 0ms;
	-ms-transition-delay: 0ms;
	-o-transition-delay: 0ms;
	transition-delay: 0ms;
}

@media (max-width: 767px) {
	.sostt-promo-frame.touch-promo {
		width: 100%;
	}
}

.sostt-promo-frame {
	.touch-close {
		display: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		position: absolute;
		z-index: 1;
		top: 0.675rem;
		left: 0.675rem;
		width: 1.375rem;
		height: 1.375rem;
		cursor: pointer;
		opacity: 0.75;
		&:before, &:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 0.0625em;
			background-color: #585858;
			top: -webkit-calc(50% - 0.03125em);
			top: calc(50% - 0.03125em);
		}
		&:before {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:after {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}
	&.touch-promo .touch-close {
		display: block;
	}
	.iframe-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		-webkit-transition: opacity 250ms;
		-moz-transition: opacity 250ms;
		-ms-transition: opacity 250ms;
		-o-transition: opacity 250ms;
		transition: opacity 250ms;
		-webkit-transition-delay: 0;
		-moz-transition-delay: 0;
		-ms-transition-delay: 0;
		-o-transition-delay: 0;
		transition-delay: 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

@media (max-width: 767px) {
	.sostt-promo-frame .touch-close {
		width: 1.5rem;
		height: 1.5rem;
	}
}

.theme-thurber .sostt-promo-frame .iframe-wrapper {
	border-left: 1px solid #e9e9ec;
}

.promo-open .sostt-promo-frame .iframe-wrapper {
	opacity: 1;
	-webkit-transition-delay: 475ms;
	/* should match logo animation */
	-moz-transition-delay: 475ms;
	/* should match logo animation */
	-ms-transition-delay: 475ms;
	/* should match logo animation */
	-o-transition-delay: 475ms;
	/* should match logo animation */
	transition-delay: 475ms;
	/* should match logo animation */
}

.sostt-promo-frame .iframe-wrapper iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	border: none;
}

.sostt-logo {
	display: block;
	position: relative;
	z-index: 2;
	width: 2rem !important;
	height: 2rem !important;
	.paperclip-logo {
		width: 100%;
		height: 100%;
		position: relative;
		/*color: white;*/
		cursor: pointer;
	}
}

.promo-open .sostt-logo .paperclip-logo {
	cursor: default;
}

.sostt-logo .paperclip-logo-static-background {
	position: absolute;
	/*background-color: rgb(30,30,30);*/
	width: 100%;
	height: 100%;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3D(-50%, -50%, 0);
	-moz-transform: translate3D(-50%, -50%, 0);
	-ms-transform: translate3D(-50%, -50%, 0);
	-o-transform: translate3D(-50%, -50%, 0);
	transform: translate3D(-50%, -50%, 0);
	-webkit-transition: opacity 0ms 400ms;
	/* must be no longer than expansion of circle background */
	-moz-transition: opacity 0ms 400ms;
	-ms-transition: opacity 0ms 400ms;
	-o-transition: opacity 0ms 400ms;
	transition: opacity 0ms 400ms;
}

.promo-open .sostt-logo .paperclip-logo-static-background {
	opacity: 0;
}

.sostt-promo-frame {
	.paperclip-logo-background-wrapper {
		position: absolute;
		top: 2rem;
		/* needs to be programmatically determined based on logo center point */
		right: 2rem;
		/* needs to be programmatically determined */
	}
	.paperclip-logo-background {
		position: absolute;
		/*background-color: rgb(30,30,30);*/
		width: 100%;
		height: 100%;
		border-radius: 50%;
		-webkit-transition: -webkit-transform 500ms, background-color 500ms;
		-moz-transition: -moz-transform 500ms, background-color 500ms;
		-ms-transition: -ms-transform 500ms, background-color 500ms;
		-o-transition: -o-transform 500ms, background-color 500ms;
		transition: transform 500ms, background-color 500ms;
		-webkit-transition-delay: 150ms;
		-moz-transition-delay: 150ms;
		-ms-transition-delay: 150ms;
		-o-transition-delay: 150ms;
		transition-delay: 150ms;
		top: 50%;
		left: 50%;
		-webkit-transform: translate3D(-50%, -50%, 0);
		-moz-transform: translate3D(-50%, -50%, 0);
		-ms-transform: translate3D(-50%, -50%, 0);
		-o-transform: translate3D(-50%, -50%, 0);
		transform: translate3D(-50%, -50%, 0);
	}
}

.promo-open .sostt-promo-frame .paperclip-logo-background {
	/*background-color: #f6f6f8;*/
	opacity: 1;
	-webkit-transition: -webkit-transform 400ms cubic-bezier(0.395, 0.06, 0.635, 0.71);
	-moz-transition: -moz-transform 400ms cubic-bezier(0.395, 0.06, 0.635, 0.71);
	-ms-transition: -ms-transform 400ms cubic-bezier(0.395, 0.06, 0.635, 0.71);
	-o-transition: -o-transform 400ms cubic-bezier(0.395, 0.06, 0.635, 0.71);
	transition: transform 400ms cubic-bezier(0.395, 0.06, 0.635, 0.71);
	-webkit-transition-delay: 0ms;
	-moz-transition-delay: 0ms;
	-ms-transition-delay: 0ms;
	-o-transition-delay: 0ms;
	transition-delay: 0ms;
	-webkit-transform: translate3D(-50%, -50%, 0) scale(1) !important;
	-moz-transform: translate3D(-50%, -50%, 0) scale(1) !important;
	-ms-transform: translate3D(-50%, -50%, 0) scale(1) !important;
	-o-transform: translate3D(-50%, -50%, 0) scale(1) !important;
	transform: translate3D(-50%, -50%, 0) scale(1) !important;
}

.sostt-promo-frame .paperclip-logo-background.do-not-animate {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

.sostt-logo .paperclip-logo svg {
	display: block;
	position: absolute;
	width: 54.125%;
	top: 48%;
	left: 50.5%;
	-webkit-transform: translate3D(-50%, -50%, 0);
	-moz-transform: translate3D(-50%, -50%, 0);
	-ms-transform: translate3D(-50%, -50%, 0);
	-o-transform: translate3D(-50%, -50%, 0);
	transform: translate3D(-50%, -50%, 0);
	-webkit-transition: opacity 200ms 600ms;
	-moz-transition: opacity 200ms 600ms;
	-ms-transition: opacity 200ms 600ms;
	-o-transition: opacity 200ms 600ms;
	transition: opacity 200ms 600ms;
}

.promo-open .sostt-logo .paperclip-logo svg {
	opacity: 0;
	-webkit-transition: opacity 200ms;
	-moz-transition: opacity 200ms;
	-ms-transition: opacity 200ms;
	-o-transition: opacity 200ms;
	transition: opacity 200ms;
}

.is_ie10 {
	.sostt-promo-frame {
		-ms-transition-delay: 0ms;
		transition-delay: 0ms;
		-ms-transition: all 0ms;
		transition: all 0ms;
		.iframe-wrapper {
			-ms-transition-delay: 0ms;
			transition-delay: 0ms;
			-ms-transition: all 0ms;
			transition: all 0ms;
		}
	}
	.sostt-logo .paperclip-logo-static-background, .sostt-promo-frame .paperclip-logo-background, .sostt-logo .paperclip-logo svg {
		-ms-transition-delay: 0ms;
		transition-delay: 0ms;
		-ms-transition: all 0ms;
		transition: all 0ms;
	}
}

.promo-open.is_ie10 {
	.sostt-promo-frame {
		-ms-transition-delay: 0ms;
		transition-delay: 0ms;
		-ms-transition: all 0ms;
		transition: all 0ms;
		.iframe-wrapper {
			-ms-transition-delay: 0ms;
			transition-delay: 0ms;
			-ms-transition: all 0ms;
			transition: all 0ms;
		}
	}
	.sostt-logo .paperclip-logo-static-background, .sostt-promo-frame .paperclip-logo-background, .sostt-logo .paperclip-logo svg {
		-ms-transition-delay: 0ms;
		transition-delay: 0ms;
		-ms-transition: all 0ms;
		transition: all 0ms;
	}
}

/* Atavist footer */

@font-face {
	font-family: 'Atlas Grotesk Web';
	src: url('//dilhmgn2fk8rc.cloudfront.net/fonts/atlas/AtlasGrotesk-Regular-Web.eot');
	src: url('//dilhmgn2fk8rc.cloudfront.net/fonts/atlas/AtlasGrotesk-Regular-Web.eot?#iefix') format("embedded-opentype"), url('//dilhmgn2fk8rc.cloudfront.net/fonts/atlas/AtlasGrotesk-Regular-Web.woff') format("woff"), url('//dilhmgn2fk8rc.cloudfront.net/fonts/atlas/AtlasGrotesk-Regular-Web.ttf') format("truetype"), url('//dilhmgn2fk8rc.cloudfront.net/fonts/atlas/AtlasGrotesk-Regular-Web.svg#AtlasGrotesk-Regular') format("svg");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}


.sostt-footer {
	display: block;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	.sostt-footer-wrapper {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		text-align: center;
		padding-top: 1.6rem;
		padding-bottom: 1.65rem;
		display: block;
		text-decoration: none;
	}
	svg {
		width: 2rem;
		height: 2rem;
		position: relative;
		top: 0.125rem;
	}
	.text {
		font-family: 'Atlas Grotesk Web';
		display: inline-block;
		font-size: 0.85rem;
		> span {
			position: relative;
			top: -0.5rem;
			padding-left: 0.5rem;
		}
	}
}

.sostt-story-data-byline {
	display: inline-block;
	.sostt-byline-wrapper {
		display: flex;
		align-items: center;
		.byline-and-publication {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			text-align: center;
		}
		.byline-link {
			font-size: 0.85em;
			line-height: 1;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.publication {
		font-size: 0.7em;
		line-height: 1;
		opacity: 0.5;
	}
	.sostt-byline-image {
		display: inline-block;
		vertical-align: middle;
		width: 2rem;
		height: 2rem;
		background-size: cover;
		background-position: center center;
		border-radius: 50%;
		margin-right: 0.375em;
		&[data-is-publication] {
			border-radius: 12%;
		}
	}
}

.sostt-search {
	min-width: 25px;
	min-height: 25px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	svg {
		width: 100%;
		height: 100%;
	}
	.search-icon {
		width: 16px;
		height: 16px;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -8px;
	}
	input[type=text] {
		width: 0px;
		-webkit-transition: width 0.3s ease;
		-moz-transition: width 0.3s ease;
		-o-transition: width 0.3s ease;
		transition: width 0.3s ease;
		background: none;
		border: none;
		outline: none;
		cursor: pointer;
	}
	&.show input[type=text] {
		width: 200px;
		cursor: initial;
		&:focus {
			width: 200px;
			cursor: initial;
		}
	}
	&:not(.show) input[type=text] {
		border: none !important;
	}
	input[type=text] {
		border-bottom: 1px solid gray;
		border-radius: 0;
		padding: 0 0 0 25px;
		margin: 0;
		height: 30px;
		font-size: 1em;
	}
}

.cover-text-bold {
	width: 100%;
	color: black;
	padding-top: 8rem;
	padding-bottom: 2rem;
	.cover-title {
		max-width: 100%;
		margin-top: 0;
		text-align: left;
		font-size: 6em;
		font-weight: 600;
		line-height: 0.9;
		color: inherit;
	}
	.divider {
		content: "";
		width: 7rem;
		height: 0.8rem;
		background: #78D1E5;
		display: block;
		margin: 2rem 0 1.5rem;
	}
	.cover-subtitle {
		font-size: 1.5rem;
		max-width: 100%;
		font-weight: 300;
		text-align: left;
		margin-top: 2rem;
		color: inherit;
	}
	.cover-byline {
		opacity: 1;
		font-weight: 600;
		margin-top: 0.25rem;
		color: inherit;
	}
}

@media (max-width: 700px) {
	.cover-text-bold .cover-title {
		font-size: 4rem;
	}
}

@media (max-width: 567px) {
	.cover-text-bold {
		padding-top: 6rem;
		.cover-title {
			font-size: 3.5rem;
		}
	}
}

.small-breakpoint .cover-text-bold {
	.cover-title {
		font-size: 3.5rem;
	}
	padding-top: 6rem;
}

.cover-black {
	width: 100%;
	height: 100vh;
	background-color: #2b2b2b;
	overflow: hidden;
}

.in-editing-mode .cover-black {
	height: 100%;
}

.cover-black {
	.sostt-multi-background {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	h1, h2 {
		color: #FFF;
		width: 100%;
		max-width: 100%;
		margin-bottom: 0.125em;
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
	}
	h1 {
		font-weight: 600;
		letter-spacing: 0.03em;
		border-bottom: 1px solid #FFF;
		padding-bottom: 0.25em;
		line-height: 0.95;
	}
	h2 {
		/*font-size: 1.75em;*/
		padding-top: 0.25em;
		opacity: 1;
	}
	.subtitle {
		opacity: 0.675;
	}
	.cover-byline {
		margin-top: 1.25rem;
		color: white;
	}
	> .cover-text-container {
		position: relative;
		z-index: 2;
	}
	.cover-text-outside-wrapper {
		width: 100%;
		position: absolute;
		z-index: 2;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		bottom: 0;
		-webkit-transform: translate3D(0, 0, 0);
		/* prevents shim and text disappearing in Retina browsers over video */
		-moz-transform: translate3D(0, 0, 0);
		-ms-transform: translate3D(0, 0, 0);
		-o-transform: translate3D(0, 0, 0);
		transform: translate3D(0, 0, 0);
	}
	.cover-text-inside-wrapper {
		width: 90%;
		max-width: 60rem;
		float: none;
		margin: 0 auto;
		padding: 1rem 1rem 5rem 1rem;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	img {
		max-width: 100%;
	}
	.image-shim {
		position: absolute;
		top: 0;
		left: 0;
		content: " ";
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.375);
		z-index: 1;
	}
}

@media (max-width: 567px) {
	.cover-black {
		.cover-text-inside-wrapper {
			width: 100%;
			padding: 1rem 0 2rem;
			/*font-size: 0.9em;*/
		}
		h1 {
			/*font-size: 3.5em;*/
		}
	}
}

.small-breakpoint .cover-black {
	.cover-text-inside-wrapper {
		width: 100%;
		padding: 1rem 0 2rem;
		/*font-size: 0.9em;*/
	}
	h1 {
		/*font-size: 3.5em;*/
	}
}

.sostt-pullquote,
blockquote { // LS custom
	display: block;
	.sostt-caption,
	& > p { // LS custom
		font-size: 2em;
		padding-top: 1rem;
		padding-bottom: 1rem;
		line-height: 1.1;
	}
	.dangling-quote {
		display: inline-block;
	}
}

.sostt-block-align-center.sostt-pullquote .sostt-caption,
blockquote > p { // LS custom
	text-align: center;
}

/* in case a p tag errantly finds its way into the caption */

.sostt-pullquote .sostt-caption p {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-indent: inherit;
	padding: 0;
	width: 100%;
	max-width: 100%;
}

/*Base Styles*/

.sostt-text-over-background {
	.sostt-text-over-background-wrapper {
		display: block;
		position: relative;
		min-height: 450px;
	}
	.sostt-multi-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 100%;
		height: 100%;
		z-index: 1;
		margin: 0 auto;
		display: block;
	}
	.sostt-caption {
		color: rgba(60, 60, 60, 1);
		position: absolute;
		z-index: 3;
		margin: 0, 0, 0, 0.15rem;
		width: 100% !important;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		padding: 2rem;
		line-height: 1.1;
		word-wrap: break-word;
		margin-top: 0;
	}
	&.sostt-block-align-left .sostt-text-over-background-wrapper, &.sostt-block-align-right .sostt-text-over-background-wrapper {
		min-height: 20em;
		font-size: .6em;
	}
	.positionedText {
		float: none !important;
		padding-right: 5% !important;
		padding-left: 5% !important;
		line-height: 1 !important;
		position: relative !important;
		top: 50% !important;
		-webkit-transform: translate3D(0, -50%, 0);
		-moz-transform: translate3D(0, -50%, 0);
		-ms-transform: translate3D(0, -50%, 0);
		-o-transform: translate3D(0, -50%, 0);
		transform: translate3D(0, -50%, 0);
	}
	.adjustedLineHeight {
		line-height: 1 !important;
	}
	&.sostt-block-align-full .sostt-caption {
		max-width: 100%;
	}
	.sostt-caption {
		&[data-block-text-alignment='top-left'], &[data-block-text-alignment='top-middle'], &[data-block-text-alignment='top-right'] {
			top: 0;
			position: absolute;
			line-height: 1.1;
		}
		&[data-block-text-alignment='center-left'], &[data-block-text-alignment='center-middle'], &[data-block-text-alignment='center-right'] {
			-webkit-transform: translate3D(0, -50%, 0);
			-moz-transform: translate3D(0, -50%, 0);
			-ms-transform: translate3D(0, -50%, 0);
			-o-transform: translate3D(0, -50%, 0);
			transform: translate3D(0, -50%, 0);
			top: 50%;
			position: absolute;
		}
		&[data-block-text-alignment='bottom-left'], &[data-block-text-alignment='bottom-middle'], &[data-block-text-alignment='bottom-right'] {
			bottom: 0;
			position: absolute;
		}
		&[data-block-text-alignment='top-left'], &[data-block-text-alignment='center-left'], &[data-block-text-alignment='bottom-left'] {
			float: left;
			text-align: left;
			padding-right: 25%;
			margin: 0;
		}
		&[data-block-text-alignment='top-middle'], &[data-block-text-alignment='center-middle'], &[data-block-text-alignment='bottom-middle'] {
			text-align: center;
		}
		&[data-block-text-alignment='top-right'], &[data-block-text-alignment='center-right'], &[data-block-text-alignment='bottom-right'] {
			float: right;
			text-align: right;
			padding-left: 25%;
			margin: 0;
		}
	}
	&.sostt-block-align-full .sostt-cover-aligned-block-width-as-max-width, &.sostt-block-align-center .sostt-cover-aligned-block-width-as-max-width {
		max-width: 100%;
	}
}

/*Text Positioning Styles*/

/*.sostt-text-over-background.sostt-block-align-full {
	max-width: calc(100% - 0rem) !important;
}*/

/*Text Color Styles*/

.sostt-text-over-background-wrapper {
	[data-text-color='light'] {
		color: rgba(255, 255, 255, 1);
	}
	[data-text-color='dark'] {
		color: rgba(41, 43, 43, 1);
	}
}

/*Media Queries*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.sostt-text-over-background {
		font-size: .8em;
	}
}

@media (max-width: 736px) {
	.sostt-text-over-background {
		.centeredText {
			padding-bottom: 0 !important;
			padding-top: 0 !important;
		}
		font-size: .6em;
		.sostt-text-over-background-wrapper {
			min-height: 280px;
		}
		.sostt-caption {
			&[data-block-text-alignment='top-left'] {
				padding-left: 5%;
				padding-top: 5%;
			}
			&[data-block-text-alignment='top-right'] {
				padding-right: 5%;
				padding-top: 5%;
			}
			&[data-block-text-alignment='center-left'] {
				padding-left: 5%;
			}
			&[data-block-text-alignment='center-right'] {
				padding-right: 5%;
			}
			&[data-block-text-alignment='bottom-left'] {
				padding-left: 5%;
				padding-bottom: 5%;
			}
			&[data-block-text-alignment='bottom-right'] {
				padding-right: 5%;
				padding-bottom: 5%;
			}
		}
	}
}
